h1{
    font-family:Sofia-pro, sans-serif;
    font-size: 7em;
    color: #4A4A4A;
    text-align: center;
    white-space: pre-wrap;
  }
  h3{
    font-family: Sofia-pro, sans-serif;
    font-size:15px;
    color:#6381E3;
    text-align: center;
    white-space: pre-wrap;
  }
  p{
    font-family:Sofia-pro, sans-serif;
    font-size: 18px;
    color: #222222;
  }
  