h2 {
  white-space: pre;
  padding-top: 30px;
  padding-left: 10px;
  color: #525252;
  font-size: 40px; }

.logos {
  position: absolute;
  left: 17%;
  top:30%;
  margin: 0; }

 
.footer {
  /*  position: relative;
  left: 0;
  right: 0;
  bottom : 0;
  width: 100%;
  color : white;
  background-color:  blue;
  padding-top: 100px;*/ }
